<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>海丝户外管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/style.css" />
	<script src="__PUBLIC__/admin/js/jquery-1.7.1.min.js"></script>
	<script src="__PUBLIC__/admin/js/jQuery.plus.extend.js"></script>
	<script src="__PUBLIC__/admin/js/jquery.main.js"></script>
</head>
<body class="bodyIndex">
	<iframe width="100%" height="134" src="__URL__/head" frameborder="0" scrolling="YES" allowtransparency="true" id="header" name="header"></iframe>
	<div class="container">
		<div class="leftNav">
			<iframe width="100%" height="750" src="__URL__/left" frameborder="0" scrolling="YES" allowtransparency="true" id="leftNav" name="leftNav"></iframe>
		</div>
		<div class="rightMain">
			<iframe width="100%" height="1200" src="__URL__/main" frameborder="0" scrolling="YES" allowtransparency="true" id="rightMain" name="rightMain"></iframe>
		</div>
	</div>
</body>
</html>