<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="__PUBLIC__/admin/css/style.css" />
	<script src="__PUBLIC__/admin/js/jquery-1.7.1.min.js"></script>
	<script src="__PUBLIC__/admin/js/jQuery.plus.extend.js"></script>
	<script type="text/javascript">
		function sideNav() {
			$(".sideNav>ul>li>span").click(function(){
				$(this).parent().toggleClass("selected")
			})
		}
	</script>
</head>
<body onload="sideNav()">
	<div class="sideNav">
		<ul>
			<!--
			<li>
				<span>网站信息配置</span>
				<ul>
					<li>
						<dl>
							<dt>基础信息</dt>
							<dd><a href="../Option/index" target="rightMain" title="设定">设定</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			-->
			<li>
				<span>轮播图</span>
				<ul>
					<li>
						<dl>
							<dt>轮播图</dt>
							<dd><a href="../Slide/index" target="rightMain" title="管理">管理</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>赛事管理</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Article/view/main/1" target="rightMain" title="添加">添加</a> | <a href="../Article/index/main/1" target="rightMain" title="管理">管理</a>
							</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>户外管理</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Article/view/main/2" target="rightMain" title="添加">添加</a> | <a href="../Article/index/main/2" target="rightMain" title="管理">管理</a>
							</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>培训管理</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Article/view/main/3" target="rightMain" title="添加">添加</a> | <a href="../Article/index/main/3" target="rightMain" title="管理">管理</a>
							</dd>
						</dl>
					</li>
				</ul>
			</li>  
			<li>
				<span>公益管理</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Article/view/main/4" target="rightMain" title="添加">添加</a> | <a href="../Article/index/main/4" target="rightMain" title="管理">管理</a>
							</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>通知管理</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Notice/view" target="rightMain" title="添加">添加</a> | <a href="../Notice/index" target="rightMain" title="管理">管理</a>
							</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>关于海丝</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Single/index/tid/4" target="rightMain" title="更新">更新</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>会员列表</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Member" target="rightMain" title="管理">管理</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>会员制度</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Single/index/tid/5" target="rightMain" title="更新">更新</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>会费详情</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Single/index/tid/6" target="rightMain" title="更新">更新</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>会费价格</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Reg/index" target="rightMain" title="更新">更新</a></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<span>修改密码</span>
				<ul>
					<li>
						<dl>
							<dd><a href="../Setpwd/index" target="rightMain" title="设定">设定</a></dd>
						</dl>
					</li>
				</ul>
			</li>    
		</ul>
	</div>
</body>
</html>