<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/style.css" />
	<script src="__PUBLIC__/admin/js/jquery-1.7.1.min.js"></script>
	<script src="__PUBLIC__/admin/js/jQuery.plus.extend.js"></script>
	<script src="__PUBLIC__/admin/js/jquery.main.js"></script>
</head>
<body class="bodyGrey">
	<div class="mainTitle">海丝户外官网管理系统功能介绍</div>
	<div class="table04">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<th><strong>欢迎使用海丝户外官网管理系统</strong></th>
			</tr>
			<tr>
				<td>1、使用左侧系统功能导航来完成你的管理任务，其中带有+符号的项目表示它含有子项目，如果没有看到它的子项目，可能是因为你的权限不够或者内容还没有完善。</td>
			</tr>
			<tr>
				<td>2、对数据进行操作时，所有表单中带有 * 符号的项目都是必须要填写的项目。</td>
			</tr>
			<tr>
				<td>3、本系统使用完后点击右上角 【退出后台】 项来退出会更安全。</td>
			</tr>
			<tr>
				<td>4、请注意：在更新信息时，请谨慎操作，所有数据将无法恢复。</td>
			</tr>
			<tr>
				<td>5、即时反馈给我们使用中的错误信息，我们将为您提供更加优质的服务。</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>如有其它问题，请通过以下途径联系我们的客服人员：</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
</body>
</html>