<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{{$row.articleTitle}}-报名管理</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/style.css" />
	<script src="__PUBLIC__/admin/js/jquery-1.7.1.min.js"></script>
	<script src="__PUBLIC__/admin/js/jQuery.plus.extend.js"></script>
	<script src="__PUBLIC__/admin/js/jquery.main.js"></script>

	<script type="text/javascript">
	<!--
		function delSelect(){
			if (confirm('是否删除选中的信息?')){
				document.form.submit();
			}
		}
	//-->
	</script>

</head>

<body class="bodyGrey">
	<div class="mainTitle">{{$row.articleTitle}}-报名管理</div>
	<div class="twoTitle">
		<span style="float:right;margin-right:20px;">
			<form name="form" id="form" method="POST" action="__URL__/excel">
				<input type="hidden" name="aid" value="{{$aid}}" />
				<button type="submit">导出EXCEL</button>
				<button type="button" onclick="window.location.href='../../../Article/index/main/{{$main}}'" style="border:solid #000 1px;">返回</button>
			</form>
		</span>
	</div>
	<form name="form" id="form" method="POST" action="__URL__/del">
	<div class="table02">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" id="tab">
			<tr>
				<th align="left"><input type="checkbox" id="CheckAll" onclick="selectAll(this,'id[]')" />全选</th>
				<th>头像</th>
				<th>匿称</th>
				<th>姓名</th>
				<th>电话</th>
				<th>身份证</th>
				<th>实收金额</th>
				<th>时间</th>
				<th>管理</th>
			</tr>
			
			<neq name="rows" value="">
				<volist id="i" name="rows" key="k">
				<tr class="<eq name="k%2" value="0">odd</eq>">
					<td><input type="checkbox" name="id[]" value="{{$i.id}}" /></td>
					<td><img src="{{$i.avatar}}" alt="" /></td>
					<td>{{$i.wxnick}}</td>
					<td>
						{{$i.realname}}(<if condition="($i.mid gt 0)">会员<else />非会员</if>)
					</td>
					<td>{{$i.mobile}}</td>
					<td>{{$i.card}}</td>
					<td>{{$i.total_fee}}</td>
					<td>{{$i.createTime}}</td>
					<td>
						<a href="__URL__/del/id/{{$i.id}}" onClick="return confirm('确认要删除吗？');">删除</a>
					</td>
				</tr>
				</volist>
			<else/>
				<tr class="odd">
				  <td colspan="7" style="color:#FF0000;">暂无信息。。。</td>
			    </tr>
		    </neq>
		</table>
	</div>
	<div class="pageWrap">
		<div class="page">
			<span style="float:left;">当前报名人数:{{$count}}</span>
			{{$page}}
			<input name="Submit" type="button" onclick="doSelect('id[]','确认要删除吗？');" value="删除选中" class="btn02">
		</div>
	</div>
	</form>
</body>
</html>